@import './assets/tailwind/style.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');
@import url('https://rsms.me/inter/inter.css');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.font-quicksand {
  font-family: 'Quicksand';
}

///https://codepen.io/sosuke/pen/Pjoqqp to convert hex in filter
.text-cool-gray-300-svg {
  filter: invert(99%) sepia(75%) saturate(769%) hue-rotate(175deg)
    brightness(100%) contrast(78%);
}

.text-cool-gray-700-svg {
  filter: invert(22%) sepia(15%) saturate(983%) hue-rotate(177deg)
    brightness(90%) contrast(85%);
}

.text-primary-700-svg {
  filter: invert(36%) sepia(92%) saturate(5352%) hue-rotate(238deg)
    brightness(98%) contrast(88%);
}
